In [2]:
## No 1. (i) String Variable
a = "Pwskills"

In [5]:
## No 1. (ii) List Variable
b = [1,2,"Kamlesh", 4+7j]

In [6]:
## No 1. (iii) Float Variable
c = 34.5695

In [8]:
## No 1. (iv) Tuple Variable
d = (1,2,3 ,"Pwskills", True)

In [2]:
## No 2. (i) 
var1 = ' '
## This is a empty string

In [4]:
## No 2. (ii) 	
var2 = '[ DS , ML , Python]'
## This will be the string

In [5]:
## No 2. (iii)
var3 = ['Ds' , 'ML' , 'Python']
## This will be the List

In [6]:
## No 2. (iv)
var4 = 1.
# This will be the Float

In [7]:
## No 3. (i) / used as Division
10 / 5

2.0

In [8]:
## No 3. (ii) % used as Remainder
20 % 6

2

In [9]:
## No 3. (iii) // used as Floor Division
25 // 4

6

In [10]:
## No 3. (iv) ** used as square
5**5

3125

In [14]:
## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [15]:
Lst = [1,2,3,4,"kamlesh" , True , 32.11, 3+5j , "Pwskills" , False]

In [17]:
for i in (Lst) :
    print(i)

1
2
3
4
kamlesh
True
32.11
(3+5j)
Pwskills
False

In [18]:
for i in (Lst) :
    print(i),print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
kamlesh
<class 'str'>
True
<class 'bool'>
32.11
<class 'float'>
(3+5j)
<class 'complex'>
Pwskills
<class 'str'>
False
<class 'bool'>

In [10]:
## No. 5   Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [8]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A / B
    count += 1

if A == 1:
    print(f"{A} is purely divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter number A:  25
Enter number B:  5

1.0 is purely divisible by 5 and can be divided 2 times.

In [1]:
## No.6  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [6]:
numbers = [4, 9, 15, 7, 12, 18, 21, 30, 37, 45, 52, 63, 70, 81, 90, 99, 105, 112, 120, 133, 140, 153, 162, 170, 183]
for num in numbers:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

4 is not divisible by 3
9 is divisible by 3
15 is divisible by 3
7 is not divisible by 3
12 is divisible by 3
18 is divisible by 3
21 is divisible by 3
30 is divisible by 3
37 is not divisible by 3
45 is divisible by 3
52 is not divisible by 3
63 is divisible by 3
70 is not divisible by 3
81 is divisible by 3
90 is divisible by 3
99 is divisible by 3
105 is divisible by 3
112 is not divisible by 3
120 is divisible by 3
133 is not divisible by 3
140 is not divisible by 3
153 is divisible by 3
162 is divisible by 3
170 is not divisible by 3
183 is divisible by 3

In [9]:
## No 7  What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [11]:
## Ans -Mutable objects are those that allow you to change their value or data in place without affecting the object's identity. In contrast, immutable objects don't allow this kind of operation.

In [ ]:
## Example